@property --landing-page-questions-title-color {
  syntax: "<color>";
  inherits: true;
  initial-value: #004473;
}

@property --landing-page-questions-title-font-size {
  syntax: "<length>";
  inherits: true;
  initial-value: 18px;
}

@property --landing-page-questions-body-color {
  syntax: "<color>";
  inherits: true;
  initial-value: #4b4b4b;
}

@property --landing-page-questions-body-font-size {
  syntax: "<length>";
  inherits: true;
  initial-value: 14px;
}

@property --landing-page-questions-link-color {
  syntax: "<color>";
  inherits: true;
  initial-value: #ff8d01;
}

@property --landing-page-questions-line-color {
  syntax: "<color>";
  inherits: true;
  initial-value: #f6f8f9;
}

@property --landing-page-questions-line-width {
  syntax: "<length>";
  inherits: true;
  initial-value: 3px;
}

@property --landing-page-questions-line-space {
  syntax: "<length>";
  inherits: true;
  initial-value: 25px;
}

.Questions {
  --space: 24px;
  --body-space: 16px;
  padding: 30px 20px;
}

.Section {
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
}

.Section:last-child {
  margin-bottom: 0;
}

.SectionTopLine {
  margin-top: 25px;
  padding-top: 22px;
  border-top: var(--landing-page-questions-line-width) solid var(--landing-page-questions-line-color);
}

.SectionBottomLine {
  margin-bottom: 25px;
  padding-bottom: 22px;
  border-bottom: var(--landing-page-questions-line-width) solid var(--landing-page-questions-line-color);
}

.Title {
  margin-top: 0;
  margin-bottom: var(--space);
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: var(--landing-page-questions-title-font-size);
  line-height: 1.4;
  color: var(--landing-page-questions-title-color);
}

.Title b {
  font-weight: 400;
}

.Body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
  gap: var(--space);
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: var(--landing-page-questions-body-font-size);
  line-height: 1.6;
  color: var(--landing-page-questions-body-color);
}

.Content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.ContentQuestion p {
  margin-top: 0;
  margin-bottom: 0;
}

.ContentQuestion p:not(:last-of-type) {
  margin-bottom: var(--body-space);
}

.ContentQuestion a {
  font-weight: 400;
  color: var(--landing-page-questions-link-color);
  text-decoration: none;
}

.ContentQuestion ul,
.ContentQuestion ol {
  margin-top: var(--body-space);
  margin-bottom: var(--body-space);
  padding-left: var(--body-space);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
  gap: var(--body-space);
}

.ContentQuestion ul:last-of-type,
.ContentQuestion ol:last-of-type {
  margin-bottom: 0;
}

.ContentQuestion b,
.ContentQuestion strong {
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .Section {
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 1024px) {
  .Questions {
    padding: 30px;
  }

  .Title {
    font-size: calc(var(--landing-page-questions-body-font-size) + 4px);
  }

  .Body {
    font-size: calc(var(--landing-page-questions-body-font-size) + 2px);
  }

  .ContentQuestion p:not(:last-of-type) {
    margin-bottom: calc(var(--body-space) * 1.5);
  }
}
