.Landing {
  padding: 2px 0 0;
}

.Loader {
  margin-top: 54px;
}

@media screen and (min-width: 768px) {
  .Landing {
    padding: 20px 15px;
  }

  .Loader {
    margin-top: 0;
  }

  .Container {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  .Landing {
    padding: 30px 40px;
  }
}

@media screen and (min-width: 1200px) {
  .Landing {
    padding-top: 40px;
  }
}
