.Footer {
  margin: 0;
  padding: 0;
}

.Contact {
  padding-top: 30px;
}

.Item:only-of-type .Contact {
  padding-top: 0;
}

@media screen and (min-width: 768px) {
  .Contact {
    padding-top: 60px;
  }

  .Item:only-of-type .Contact {
    padding-top: 30px;
  }
}
