.Question {
  --body-space: 16px;
}

.Question p {
  margin-top: 0;
  margin-bottom: 0;
}

.Question p:not(:last-of-type) {
  margin-bottom: var(--body-space);
}

.Question a {
  font-weight: 400;
  color: var(--landing-page-questions-link-color);
  text-decoration: none;
}

.Question ul,
.Question ol {
  margin-top: var(--body-space);
  margin-bottom: var(--body-space);
  padding-left: var(--body-space);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
  gap: var(--body-space);
}

.Question ul:last-of-type,
.Question ol:last-of-type {
  margin-bottom: 0;
}

.Question b,
.Question strong {
  font-weight: 400;
}

@media screen and (min-width: 1024px) {
  .Question p:not(:last-of-type) {
    margin-bottom: calc(var(--body-space) * 1.5);
  }
}
