.Block {
  --body-space: 16px;
}

.Block p {
  margin-top: 0;
  margin-bottom: 0;
}

.Block p:not(:last-of-type) {
  margin-bottom: var(--body-space);
}

.Block a {
  font-weight: 300;
  color: var(--landing-page-questions-link-color);
  text-decoration: none;
}

.Block ul,
.Block ol {
  margin-top: var(--body-space);
  margin-bottom: var(--body-space);
  padding-left: var(--body-space);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
  gap: var(--body-space);
}

.Block ul:last-of-type,
.Block ol:last-of-type {
  margin-bottom: 0;
}

.Block b,
.Block strong {
  font-weight: 400;
}

@media screen and (min-width: 1024px) {
  .Block p:not(:last-of-type) {
    margin-bottom: calc(var(--body-space) * 1.5);
  }
}
