.CalendarButton {
  box-sizing: border-box;
  border: none;
  border-radius: 50%;
  padding: 2px;
  margin: 6px;
  width: 28px;
  height: 28px;
  background-color: var(--calendar-icon-background-scoped);
  transition: outline-color 125ms ease-in-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.CalendarButton:focus,
.CalendarButton:active {
  outline-color: var(--calendar-accent-scoped);
}

.CalendarButton:disabled:hover {
  cursor: not-allowed;
}

.CalendarButton:hover {
  cursor: pointer;
}

.CalendarButton svg {
  stroke: var(--calendar-primary-scoped);
}
