@property --landing-page-contact-color {
  syntax: "<color>";
  inherits: true;
  initial-value: #004473;
}

@property --landing-page-contact-button-color {
  syntax: "<color>";
  inherits: true;
  initial-value: #ff8d01;
}

@property --landing-page-contact-success-color {
  syntax: "<color>";
  inherits: true;
  initial-value: #00b649;
}

@property --landing-page-contact-icon-size{
  syntax: "<length>";
  inherits: true;
  initial-value: 54px;
}

@property --landing-page-contact-head-font-size {
  syntax: "<length>";
  inherits: true;
  initial-value: 18px;
}

@property --landing-page-contact-main-font-size {
  syntax: "<length>";
  inherits: true;
  initial-value: 14px;
}

@property --landing-page-contact-button-font-size {
  syntax: "<length>";
  inherits: true;
  initial-value: 18px;
}

@property --landing-page-contact-success-font-size {
  syntax: "<length>";
  inherits: true;
  initial-value: 14px;
}

.LandingPageContact {
  padding: 30px 15px;
  text-align: center;
}

.LandingPageContactHead {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: var(--landing-page-contact-head-font-size);
  font-weight: 300;
  line-height: 1.4;
  color: var(--landing-page-contact-color);
}

.LandingPageContactMain {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: var(--landing-page-contact-main-font-size);
  font-weight: 300;
  line-height: 1.6;
  color: var(--landing-page-contact-color);
}

.LandingPageContactButton {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: var(--landing-page-contact-button-font-size);
  color: var(--landing-page-contact-button-color);
  line-height: 1.4;
  text-decoration: none;
}

.LandingPageContactWait {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.LandingPageContactWaitSidebar .LandingPageContactButton {
  font-size: calc(var(--landing-page-contact-button-font-size) + 2px);
}

.LandingPageContactWaitSidebar {
  gap: 8px;
}

.LandingPageContactSuccess {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: var(--landing-page-contact-success-font-size);
  line-height: 1.6;
  text-align: center;
  color: var(--landing-page-contact-success-color);
}

.LandingPageContactSuccessIcon {
  width: var(--landing-page-contact-icon-size);
  height: var(--landing-page-contact-icon-size);
}

.LandingPageContactSuccessText {
  margin: 0;
}

@media screen and (min-width: 1024px) {
  .LandingPageContact {
    padding-top: 40px;
  }

  .LandingPageContactHead {
    font-size: calc(var(--landing-page-contact-head-font-size) + 4px);
  }

  .LandingPageContactMain {
    font-size: calc(var(--landing-page-contact-main-font-size) + 2px);
  }
}
