@property --ordered-list-head-color {
  syntax: '<color>';
  inherits: true;
  initial-value: #004473;
}

@property --ordered-list-text-color {
  syntax: '<color>';
  inherits: true;
  initial-value: #333333;
}

@property --ordered-list-bullet-bg {
  syntax: '<color>';
  inherits: true;
  initial-value: #ff8e01;
}

@property --ordered-list-bullet-color {
  syntax: '<color>';
  inherits: true;
  initial-value: #ffffff;
}

.OrderedList {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.6;
  color: var(--ordered-list-text-color);
}

.Title {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.4;
  color: var(--ordered-list-head-color);
  text-align: center;
}

.List {
  list-style: none;
  margin: 0;
  padding-left: 36px;
}

.ListItem {
  position: relative;
}

.ListItem:not(:last-of-type) {
  margin-bottom: 20px;
}

.ListItem strong,
.ListItem b {
  font-weight: 400;
}

.Bullet {
  position: absolute;
  z-index: 1;
  top: -2px;
  right: calc(100% + 10px);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--ordered-list-bullet-bg);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: var(--ordered-list-bullet-color);
}

@media screen and (min-width: 1024px) {
  .OrderedList {
    font-size: 16px;
    line-height: 1.5;
  }

  .Title {
    font-size: 22px;
    margin-bottom: 25px;
  }
}
