@property --landing-page-sidebar-bg {
  syntax: "<color>";
  inherits: true;
  initial-value: #ffffff;
}

.Sidebar {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  outline: 2px solid transparent;
  border-radius: 5px;
  box-shadow:
    0 0 28px rgba(0, 0, 0, 0.05),
    0 0 10px rgba(0, 0, 0, 0.02);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
}

.SidebarMain {
  padding: 0 15px;
  background-color: var(--landing-page-sidebar-bg);
}

.SidebarMainItem {
  padding-top: 15px;
  padding-bottom: 15px;
}

.SidebarMainItem:first-of-type {
  padding-top: 0;
}

.SidebarMainItem:last-of-type {
  padding-bottom: 0;
}

.SidebarMainItem:only-of-type {
  padding-top: 8px;
  padding-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .Sidebar {
    width: 275px;
    position: static;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: flex-start;
    box-shadow: none;
  }

  .SidebarMain {
    padding: 15px;
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.05), 0 0 10px rgba(0, 0, 0, 0.02);
  }
}

@media screen and (min-width: 1024px) {
  .Sidebar {
    width: 325px;
  }

  @supports (position: sticky) {
    .Sidebar {
      position: sticky;
      top: 15px;
      left: 0;
    }
  }

  .SidebarMain {
    padding: 30px 30px 45px;
  }
}

@media screen and (min-width: 1200px) {
  .Sidebar {
    width: 375px;
    top: 24px;
  }
}
