@property --navigation-button-previous-bg {
  syntax: '<color>';
  inherits: true;
  initial-value: #ffffff;
}

@property --navigation-button-previous-text {
  syntax: '<color>';
  inherits: true;
  initial-value: #efefef;
}

@property --navigation-button-previous-text-hover {
  syntax: '<color>';
  inherits: true;
  initial-value: #c7c7c7;
}

@property --navigation-button-next-bg {
  syntax: '<color>';
  inherits: true;
  initial-value: #ff8d02;
}

@property --navigation-button-next-bg-hover {
  syntax: '<color>';
  inherits: true;
  initial-value: #ff981c;
}

@property --navigation-button-next-text {
  syntax: '<color>';
  inherits: true;
  initial-value: #ffffff;
}

.NavigationButtons {
  --transition-time: 250ms;
  --icon-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.NavigationButton {
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 8px 24px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
  transition:
    color var(--transition-time) ease-in-out,
    background-color var(--transition-time) ease-in-out,
    border-color var(--transition-time) ease-in-out;
}

.NavigationButton:hover {
  cursor: pointer;
}

.NavigationButtonVisible {
  display: inline-flex;
}

.NavigationButtonHidden {
  display: none;
}

.NavigationButtonPrev {
  background-color: var(--navigation-button-previous-bg);
  border-color: var(--navigation-button-previous-text);
  color: var(--navigation-button-previous-text);
}

.NavigationButtonPrev:hover {
  border-color: var(--navigation-button-previous-text-hover);
  color: var(--navigation-button-previous-text-hover);
}

.NavigationButtonNext {
  background-color: var(--navigation-button-next-bg);
  border-color: var(--navigation-button-next-bg);
  color: var(--navigation-button-next-text);
  text-shadow: 0 1px 2px #00000026;
}

.NavigationButtonNext:hover {
  background-color: var(--navigation-button-next-bg-hover);
  border-color: var(--navigation-button-next-bg-hover);
}

.NavigationButtonNext > span {
  flex-basis: calc(100% - var(--icon-size));
}

.NavigationButtonNextArrow {
  position: relative;
  right: -6px;
}

.NavigationButtonNextArrow > path {
  filter: drop-shadow(0px 1px 2px #00000033);
}

html[dir="rtl"] .NavigationButtonNextArrow {
  transform: rotate(180deg);
}

html[dir="rtl"] .NavigationButtonNextArrow {
  right: 6px;
}
