@property --navigation-button-previous-bg {
  syntax: '<color>';
  inherits: true;
  initial-value: #ffffff;
}

@property --navigation-button-previous-text {
  syntax: '<color>';
  inherits: true;
  initial-value: #efefef;
}

@property --navigation-button-previous-text-hover {
  syntax: '<color>';
  inherits: true;
  initial-value: #c7c7c7;
}

@property --navigation-button-next-bg {
  syntax: '<color>';
  inherits: true;
  initial-value: #ff8d02;
}

@property --navigation-button-next-bg-hover {
  syntax: '<color>';
  inherits: true;
  initial-value: #ff981c;
}

@property --navigation-button-next-text {
  syntax: '<color>';
  inherits: true;
  initial-value: #ffffff;
}

@property --navigation-button-font-family {
  syntax: '*';
  inherits: true;
  initial-value: 'Titillium Web';
}

@property --navigation-button-font-weight {
  syntax: '<integer>';
  inherits: true;
  initial-value: 400;
}

@property --navigation-button-font-size {
  syntax: '<length>';
  inherits: true;
  initial-value: 20px;
}

@property --navigation-button-line-height {
  syntax: '<length>';
  inherits: true;
  initial-value: 30px;
}

@property --navigation-button-border-radius {
  syntax: '<length>';
  inherits: true;
  initial-value: 5px;
}

@property --navigation-button-border-width {
  syntax: '<length>';
  inherits: true;
  initial-value: 1px;
}

@property --navigation-button-step {
  syntax: '<length>';
  inherits: true;
  initial-value: 8px;
}

.NavigationButtons {
  --transition-time: 250ms;
  --icon-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(var(--navigation-button-step) * 2);
}

.NavigationButton {
  border: var(--navigation-button-border-width) solid transparent;
  border-radius: var(--navigation-button-border-radius);
  padding: var(--navigation-button-step) calc(var(--navigation-button-step) * 3);
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  font-family: var(--navigation-button-font-family), sans-serif;
  font-weight: var(--navigation-button-font-weight);
  font-size: var(--navigation-button-font-size);
  line-height: var(--navigation-button-line-height);
  letter-spacing: 0.02em;
  transition:
    color var(--transition-time) ease-in-out,
    background-color var(--transition-time) ease-in-out,
    border-color var(--transition-time) ease-in-out;
}

.NavigationButton:hover {
  cursor: pointer;
}

.NavigationButtonVisible {
  display: inline-flex;
}

.NavigationButtonHidden {
  display: none;
}

.NavigationButtonPrev {
  background-color: var(--navigation-button-previous-bg);
  border-color: var(--navigation-button-previous-text);
  color: var(--navigation-button-previous-text);
}

.NavigationButtonPrev:hover {
  border-color: var(--navigation-button-previous-text-hover);
  color: var(--navigation-button-previous-text-hover);
}

.NavigationButtonNext {
  background-color: var(--navigation-button-next-bg);
  border-color: var(--navigation-button-next-bg);
  color: var(--navigation-button-next-text);
  text-shadow: 0 1px 2px #00000026;
}

.NavigationButtonNext:hover {
  background-color: var(--navigation-button-next-bg-hover);
  border-color: var(--navigation-button-next-bg-hover);
}

.NavigationButtonNext > span {
  flex-basis: calc(100% - var(--icon-size));
}

.NavigationButtonNextArrow {
  position: relative;
  right: -6px;
}

.NavigationButtonNextArrow > path {
  filter: drop-shadow(0px 1px 2px #00000033);
}

html[dir="rtl"] .NavigationButtonNextArrow {
  transform: rotate(180deg);
}

html[dir="rtl"] .NavigationButtonNextArrow {
  right: 6px;
}
