@property --landing-page-btn-bg {
  syntax: "<color>";
  inherits: true;
  initial-value: #ff8d02;
}

@property --landing-page-btn-color {
  syntax: "<color>";
  inherits: true;
  initial-value: #ffffff;
}

@property --landing-page-btn-font-family {
  syntax: '*';
  inherits: true;
  initial-value: 'Titillium Web';
}

@property --landing-page-btn-font-weight {
  syntax: '<integer>';
  inherits: true;
  initial-value: 600;
}

@property --landing-page-btn-font-size {
  syntax: '<length>';
  inherits: true;
  initial-value: 20px;
}

@property --landing-page-btn-line-height {
  syntax: '<length>';
  inherits: true;
  initial-value: 26px;
}

.LandingPageButton {
  --transition-time: 250ms;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: var(--landing-page-btn-bg);
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  padding: 12px 17px;
  position: relative;
  font-family: var(--landing-page-btn-font-family), sans-serif;
  font-weight: var(--landing-page-btn-font-weight);
  font-size: var(--landing-page-btn-font-size);
  line-height: var(--landing-page-btn-line-height);
  letter-spacing: 0.4px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  color: var(--landing-page-btn-color);
  transition: filter var(--transition-time) ease-in-out;
}

.LandingPageButton:hover {
  cursor: pointer;
  filter: opacity(0.85);
}

.LandingPageButton:disabled {
  cursor: not-allowed;
  filter: opacity(0.65);
}

.LandingPageButtonIcon {
  width: var(--landing-page-btn-line-height);
  height: var(--landing-page-btn-line-height);
}

.LandingPageButtonFullWidth {
  width: 100%;
}

html[dir="rtl"] .LandingPageButtonIcon {
  transform: rotate(180deg);
}
