@property --landing-page-contact-color {
  syntax: "<color>";
  inherits: true;
  initial-value: #004473;
}

@property --landing-page-contact-button-color {
  syntax: "<color>";
  inherits: true;
  initial-value: #ff8d01;
}

@property --landing-page-contact-success-color {
  syntax: "<color>";
  inherits: true;
  initial-value: #00b649;
}

.Contact {
  padding: 30px 15px;
  text-align: center;
}

.Head {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  color: var(--landing-page-contact-color);
}

.Main {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: var(--landing-page-contact-color);
}

.Button {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: var(--landing-page-contact-button-color);
  line-height: 1.4;
  text-decoration: none;
}

.Wait {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.WaitSidebar .Button {
  font-size: 20px;
}

.WaitSidebar {
  gap: 8px;
}

.Success {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
  color: var(--landing-page-contact-success-color);
}

.SuccessIcon {
  width: 54px;
  height: 54px;
}

.SuccessText {
  margin: 0;
}

@media screen and (min-width: 1024px) {
  .Contact {
    padding-top: 40px;
  }

  .Head {
    font-size: 22px;
    line-height: 1.4;
  }

  .Main {
    font-size: 16px;
    line-height: 1.6;
  }
}
