.Select {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 4px;
}

.SelectArrow {
  border: none;
  background-color: transparent;
  padding: 6px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  transition: outline-color 125ms ease-in-out;
}

.SelectArrow:hover {
  cursor: pointer;
}

.SelectArrow:focus,
.SelectArrow:active {
  outline-color: var(--calendar-accent);
}

.SelectArrow svg {
  stroke: var(--calendar-primary);
}

.SelectElement {
  border: none;
  box-sizing: border-box;
  min-width: 56px;
  padding: 10px 4px 10px 8px;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: var(--calendar-primary);
  background-color: var(--calendar-background);
  -webkit-appearance: none;
  transition: outline-color 125ms ease-in-out;
}

.SelectElement:hover {
  cursor: pointer;
}

.SelectElement:focus,
.SelectElement:active {
  outline-color: var(--calendar-accent);
}

html[dir="rtl"] .Select {
  flex-direction: row-reverse;
}

html[dir="rtl"] .SelectElement {
  padding: 10px 8px 10px 4px;
}
