.Month {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  height: 160px;
  overflow-y: auto;
}

.MonthButton {
  flex-basis: calc(33.33% - 2px * 2);
  margin: 2px;
  padding: 0;
  height: 36px;
  background-color: transparent;
  border-radius: 3px;
  border: 2px solid transparent;
  font-size: 14px;
  line-height: 22px;
  color: var(--calendar-primary);
  transition: border-color 125ms ease-in-out;
}

.MonthButton:hover {
  cursor: pointer;
  border-color: var(--calendar-accent);
}

.MonthButtonSelected {
  background-color: var(--calendar-accent);
  color: var(--calendar-modal-button-selected-text);
}

.MonthYearSmallList {
  height: auto;
}
