@property --landing-page-review-text-color {
  syntax: '<color>';
  inherits: true;
  initial-value: #333333;
}

@property --landing-page-review-primary-color {
  syntax: '<color>';
  inherits: true;
  initial-value: #004473;
}

@property --landing-page-review-accent-color {
  syntax: '<color>';
  inherits: true;
  initial-value: #ff8d01;
}

.Reviews {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
  gap: 22px;
}

.Review {
  margin-bottom: 12px;
}

.Review:last-of-type {
  margin-bottom: 0;
}

.Title {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.4;
  color: var(--landing-page-review-primary-color);
}

.Title > b {
  font-weight: 400;
}

.List {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.Text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 14px;
  line-height: 21px;
  color: var(--landing-page-review-text-color);
  text-align: left;
}

.Info {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.User {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: var(--landing-page-review-primary-color);
}

.Link {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: var(--landing-page-review-primary-color);
}

.Link > a {
  color: var(--landing-page-review-accent-color);
  text-decoration: none;
}

.Link > a > b {
  font-weight: 400;
}

@media screen and (min-width: 1024px) {
  .Title {
    font-size: 22px;
  }
}
