@property --header-text-primary {
  syntax: "<color>";
  inherits: true;
  initial-value: #1a446f;
}

@property --header-alert-background {
  syntax: "<color>";
  inherits: true;
  initial-value: #eff3f5;
}

@property --header-accent-primary {
  syntax:  "<color>";
  inherits: true;
  initial-value: #ff8d02;
}

@property --header-logo-height {
  syntax: "<length>";
  inherits: true;
  initial-value: 34px;
}

@property --header-vertical-padding {
  syntax: "<length>";
  inherits: true;
  initial-value: 16px;
}

@property --header-horizontal-padding {
  syntax: "<length>";
  inherits: true;
  initial-value: 15px;
}

.Header {
  position: relative;
  z-index: 2;
}
