@property --checkbox-label {
  syntax: '<color>';
  inherits: true;
  initial-value: #004473;
}
@property --checkbox-info {
  syntax: '<color>';
  inherits: true;
  initial-value: #333333;
}
@property --checkbox-border {
  syntax: '<color>';
  inherits: true;
  initial-value: #e3e3e3;
}
@property --checkbox-error {
  syntax: '<color>';
  inherits: true;
  initial-value: #e74c3c;
}
@property --checkbox-primary {
  syntax: '<color>';
  inherits: true;
  initial-value: #ff8d02;
}
@property --checkbox-square-size {
  syntax: '<length>';
  inherits: true;
  initial-value: 16px;
}
@property --checkbox-font-family {
  syntax: '<string>';
  inherits: true;
  initial-value: 'Open Sans';
}
@property --checkbox-font-size {
  syntax: '<length>';
  inherits: true;
  initial-value: 16px;
}
@property --checkbox-font-weight {
  syntax: '<integer>';
  inherits: true;
  initial-value: 200;
}

.Checkbox {
  --input-control-size: var(--checkbox-square-size);
  --input-control-border: var(--checkbox-border);
  --input-control-primary: var(--checkbox-primary);
  --input-control-error: var(--checkbox-error);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: calc(var(--checkbox-square-size) / 4);
  font-family: var(--checkbox-font-family), sans-serif;
  font-size: var(--checkbox-font-size);
  font-weight: calc(var(--checkbox-font-weight));
}

.CheckboxContent {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--checkbox-square-size);
  line-height: 1.2;
  color: var(--checkbox-label);
}

.CheckboxError .CheckboxLabel {
  color: var(--checkbox-error) !important;
}

.Checkbox:has(.CheckboxInput:disabled) {
  cursor: not-allowed;
}

.CheckboxLabel {
  flex-basis: calc(100% - calc(var(--checkbox-square-size) * 2));
  order: 2;
  transition: color 150ms ease-in-out;
}

.CheckboxLabel a {
  color: inherit;
  font-weight: 400;
}

.CheckboxInput {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.CheckboxInput:disabled + * + .CheckboxLabel {
  opacity: 0.4;
}

.CheckboxInfo {
  margin-left: calc(var(--checkbox-square-size) * 2);
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.4;
  color: var(--checkbox-info);
}
