.DateSelector {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -1500%) scale(3);
}

.DateSelectorInput {
  transition: color 125ms ease-in-out;
  color: black;
}

.DateSelectorInputPlaceholder {
  color: lightgrey;
}
