:root {
  @property --input-control-size {
    syntax: '<length>';
    inherits: true;
    initial-value: 16px;
  }
  @property --input-control-border {
    syntax: '<color>';
    inherits: true;
    initial-value: #e3e3e3;
  }
  @property --input-control-primary {
    syntax: '<color>';
    inherits: true;
    initial-value: #ff8d02;
  }
  @property --input-control-error {
    syntax: '<color>';
    inherits: true;
    initial-value: #e74c3c;
  }
}

.InputControl {
  /* Outer CSS Variables */
  --input-control-size-scoped: var(--input-control-size, 16px);
  --input-control-border-scoped: var(--input-control-border, #e3e3e3);
  --input-control-primary-scoped: var(--input-control-primary, #ff8d02);
  --input-control-error-scoped: var(--input-control-error, #e74c3c);
  /* Inner CSS Variables */
  --transition-time: 250ms;
  --size-step: 2px;
  /* Styles */
  align-self: flex-start;
  position: relative;
  order: 1;
  box-sizing: border-box;
  padding: 2px;
  border: 2px solid var(--input-control-border-scoped);
  transition: border-color var(--transition-time) ease-in-out;
  cursor: pointer;
}

.InputControl[data-control-size="xs"] {
  width: calc(var(--input-control-size-scoped) - var(--size-step) * 2);
  height: calc(var(--input-control-size-scoped) - var(--size-step) * 2);
}

.InputControl[data-control-size="sm"] {
  width: calc(var(--input-control-size-scoped) - var(--size-step));
  height: calc(var(--input-control-size-scoped) - var(--size-step));
}

.InputControl[data-control-size="md"] {
  width: var(--input-control-size-scoped);
  height: var(--input-control-size-scoped);
}

.InputControl[data-control-size="lg"] {
  width: calc(var(--input-control-size-scoped) + var(--size-step));
  height: calc(var(--input-control-size-scoped) + var(--size-step));
}

.InputControl[data-control-size="xl"] {
  width: calc(var(--input-control-size-scoped) + var(--size-step) * 2);
  height: calc(var(--input-control-size-scoped) + var(--size-step) * 2);
}

.InputControl[data-control-size="2xl"] {
  width: calc(var(--input-control-size-scoped) + var(--size-step) * 3);
  height: calc(var(--input-control-size-scoped) + var(--size-step) * 3);
}

.InputControl[data-control-size="3xl"] {
  width: calc(var(--input-control-size-scoped) + var(--size-step) * 4);
  height: calc(var(--input-control-size-scoped) + var(--size-step) * 4);
}

.InputControl[data-control-shape="checkbox"],
.InputControl[data-control-shape="checkbox"]:after {
  border-radius: 0;
}

.InputControl[data-control-shape="radio"],
.InputControl[data-control-shape="radio"]:after {
  border-radius: 50%;
}

.InputControl:after {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  display: block;
  content: '';
  background-color: transparent;
  transition: background-color var(--transition-time) ease-in-out;
}

.InputControl.InputControlChecked:after {
  background-color: var(--input-control-primary-scoped);
}

.InputControl.InputControlHovered:after {
  background-color: var(--input-control-border-scoped);
}

.InputControl.InputControlChecked.InputControlError:after {
  background-color: var(--input-control-error-scoped);
}

.InputControl.InputControlFocused {
  border-color: var(--input-control-primary-scoped);
}

.InputControl.InputControlDisabled {
  cursor: not-allowed;
  opacity: 04;
}

.InputControl.InputControlError {
  border-color: var(--input-control-error-scoped);
}
