@property --landing-page-loader-color {
  syntax: "<color>";
  inherits: true;
  initial-value: #ff8d01;
}

.Loader {
  padding: 60px 40px;
  margin: auto;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.3;
  color: var(--landing-page-loader-color);
  text-align: center;
  max-width: 500px;
}

.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Image {
  position: relative;
  margin-bottom: 15px;
}

.Line {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: var(--landing-page-loader-color);
  filter: opacity(0.3);
  overflow: hidden;
}

.Point {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 8%;
  height: 8px;
  animation-name: progress;
  animation-delay: 0s;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal;
}

.Point::before,
.Point::after {
  display: block;
  content: "";
  position: absolute;
  z-index: 1;
  height: 100%;
}

.Point::before {
  width: 70%;
  left: 0;
  background: linear-gradient(90deg, rgba(255, 141, 1, 0) 0%, var(--landing-page-loader-color) 100%);
}

.Point::after {
  width: 30%;
  right: 0;
  background-color: var(--landing-page-loader-color);
}

.Text > strong {
  font-weight: 600;
  padding-right: 4px;
}

@media screen and (min-width: 768px) {
  .Loader {
    padding: 90px 0;
  }

  .Image {
    margin-bottom: 30px;
  }

  .Line {
    width: 350px;
  }

  .Text {
    font-size: 22px;
  }
}

@media screen and (min-width: 1024px) {
  .Text {
    font-size: 24px;
  }
}

@keyframes progress {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
