.Button {
  box-sizing: border-box;
  border: none;
  border-radius: 50%;
  padding: 2px;
  margin: 6px;
  width: 28px;
  height: 28px;
  background-color: var(--calendar-icon-background);
  transition: outline-color 125ms ease-in-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Button:focus,
.Button:active {
  outline-color: var(--calendar-accent);
}

.Button:disabled:hover {
  cursor: not-allowed;
}

.Button:hover {
  cursor: pointer;
}

.Button svg {
  stroke: var(--calendar-primary);
}
