@property --success-box-primary {
  syntax: "<color>";
  inherits: true;
  initial-value: #00b649;
}

@property --success-box-a {
  syntax: "<color>";
  inherits: true;
  initial-value: #ff8d02;
}

@property --success-box-main-bg {
  syntax: "<color>";
  inherits: true;
  initial-value: #ffffff;
}

@property --success-box-text-primary {
  syntax: "<color>";
  inherits: true;
  initial-value: #333333;
}

@property --success-box-icon-check {
  syntax: "<color>";
  inherits: true;
  initial-value: #00b649;
}

@property --success-box-icon-question {
  syntax: "<color>";
  inherits: true;
  initial-value: #3d5afe;
}

@property --success-box-icon-exclamation {
  syntax: "<color>";
  inherits: true;
  initial-value: #e53935;
}

@property --success-box-icon-cross {
  syntax: "<color>";
  inherits: true;
  initial-value: #e53935;
}

@property --success-box-warning-bg {
  syntax: "<color>";
  inherits: true;
  initial-value: #fcf6f0;
}

@property --success-box-warning {
  syntax: "<color>";
  inherits: true;
  initial-value: #ff5c01;
}

@property --success-box-warning-icon {
  syntax: "<color>";
  inherits: true;
  initial-value: #ff4d01;
}

.SuccessBox {
  border-bottom: 2px solid var(--success-box-primary);
}

.SuccessBox a {
  color: var(--success-box-a);
  text-decoration: none;
}

.SuccessBox a:hover {
  text-decoration: underline;
}

.Head {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid var(--success-box-primary);
  padding: 8px 15px 15px;
  background-color: var(--success-box-primary);
  display: flex;
  align-items: center;
  text-align: left;
  color:  #ffffff;
}

.Head:after {
  display: block;
  content: "";
  position: absolute;
  z-index: 1;
  background-color: inherit;
  width: 24px;
  height: 24px;
  bottom: -10px;
  left: calc(50% - 12px);
  transform: rotate(134deg);
}

.HeadIcon {
  margin-bottom: auto;
  margin-top: 7px;
  width: 40px;
  height: 40px;
  opacity: 0.8;
}

.HeadText {
  position: relative;
  z-index: 2;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  font-family: "Titillium Web", sans-serif;
  font-size: 18px;
}

.HeadTextPrimary {
  font-weight: 400;
  line-height: 1.4;
  text-decoration: none;
}

.HeadTextSecondary {
  font-weight: 600;
  line-height: 1.2;
  text-decoration: underline;
}

.Main {
  padding: 30px 20px;
  background-color: var(--success-box-main-bg);
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
}

.Title {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 24px;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.4;
  color: var(--success-box-primary);
}

.Html {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: var(--success-box-text-primary);
}

.List {
  --icon-width: 14px;
  --gap: 4px;
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
}

.ListItem {
  padding-bottom: 8px;
}

.ListItemCheck,
.ListItemCheck .ListItemText > span {
  color: var(--success-box-icon-check);
}

.ListItemQuestion,
.ListItemQuestion .ListItemText > span {
  color: var(--success-box-icon-question);
}

.ListItemExclamation,
.ListItemExclamation .ListItemText > span {
  color: var(--success-box-icon-exclamation);
}

.ListItemCross,
.ListItemCross .ListItemText > span {
  color: var(--success-box-icon-cross);
}

.ListItemSection {
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap);
}

.ListItemSection:not(:last-of-type) {
  margin-bottom: 12px;
}

.ListItemIcon {
  position: relative;
  top: 5px;
  left: -3px;
  stroke-width: 4;
  width: var(--icon-width);
  height: var(--icon-width);
}

.ListItemText {
  flex-basis: calc(100% - var(--icon-width) - var(--gap));
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.6;
  color: var(--success-box-text-primary);
}

.ListItemText > span {
  font-weight: 400;
}

.ListItemText ol,
.ListItemText ul {
  padding-left: 16px;
}

.ListItemText strong,
.ListItemText b {
  font-weight: 400;
}

.Warning {
  margin-top: 11px;
  margin-bottom: 6px;
  margin-left: calc(var(--icon-width) + var(--gap));
  border-radius: 8px;
  padding: 10px 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: var(--success-box-warning-bg);
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  color: var(--success-box-warning);
}

.WarningIcon {
  width: 36px;
  height: 36px;
  margin-right: 12px;
  color: var(--success-box-warning-icon);
}

.WarningIconSingle {
  width: 24px;
  height: 24px;
}

.WarningIconMultiple {
  align-self: flex-start;
  margin-top: 2px;
}

.WarningContent {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.WarningText {
  margin-top: 0;
  margin-bottom: 0;
}

.WarningText b,
.WarningText strong {
  font-weight: 600;
}


@media screen and (min-width: 768px) {
  .SuccessBox {
    border: 2px solid var(--success-box-primary);
    border-radius: 5px;
    padding: 4px;
  }

  .Head {
    position: relative;
    z-index: initial;
    top: initial;
    left: initial;
    width: auto;
    margin: -4px -4px 0;
  }

  .Main {
    margin: 0 -4px;
  }
}

@media screen and (min-width: 1024px) {
  .Head {
    padding: 18px 24px 20px;
    border: none;
  }

  .HeadIcon {
    width: 60px;
    height: 60px;
  }

  .HeadText {
    padding-left: 20px;
  }

  .HeadTextPrimary {
    font-size: 26px;
    line-height: 1.2;
  }

  .HeadTextSecondary {
    font-size: 20px;
  }

  .Main {
    padding: 30px;
  }

  .Title {
    font-size: 22px;
  }

  .Html {
    font-size: 16px;
  }

  .ListItem {
    font-size: 16px;
  }

  .ListItemText {
    font-size: 16px;
  }
}
